<!DOCTYPE html>
<html>
<head>
	<meta charset="utf-8">
	<title>CodyCity</title>
	<link rel="stylesheet" href="//maxcdn.bootstrapcdn.com/bootstrap/3.3.6/css/
bootstrap.min.css">
</head>
<body class="container">
	<div class="container-fluid">
	  <nav class="navbar navbar-toggleable-md navbar-light bg-faded" style="background-color: #0066ff">
	    <a class="navbar-brand" href="#"><img src="https://ih1.redbubble.net/image.92221274.3543/st%2Csmall%2C215x235-pad%2C210x230%2Cf8f8f8.lite-1.jpg" width="40" height="40" class="img-circle"></a>
	    <h1>CodyCity</h1>
	  </nav>
	</div>


